:root{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Stili Header*/
header{
    background-color: rgb(255, 111, 0);
    min-height: 50px;
    width: 100%;
    box-shadow: 0px 2px 5px #888888;
    position: fixed;
    z-index: 100;
}

#logo{
    width: 150px;
}

.rowHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.colHeader{
    width: 200px;
    margin: 15px auto ;
}

.colHeader:nth-child(2){
    text-align: center;
}

.colHeader:nth-child(3){
    text-align: right;
}

li{
    list-style-type: none;
    display: inline-block;
}

a{
    color: white;
    margin: 0 3px;
    text-decoration: none;
}



/*Stili main*/

main{
    padding: 150px 0;
}

.rowMain{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 20%;
    
}

.colMain{
    width: calc((100% / 3) - 10px);
    margin: 10px 5px;
    position: relative;
}


.label{
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: red;
    padding: 5px;
    color: white;
    font-size: small;
}

.labelGreen{
    background-color: green;
    left: 40px;
}

.labelHeart{
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0px;
    padding: 5px 10px;
    color: black;
    font-size: 30px;
}

.labelHeart::after{
   content: ' \2665';
}

span{
    color: red;
}

.sconto{
    text-decoration: line-through;
    color: black;
}

.labelGreen:last-child {
    left: 0;
}

.img_prod:hover .labelHeart{
    color: red;
}

.img_prod img{
    width: 100%; 
}

.hoverImg{
    display: none;
}

.img_prod:hover img{
    display: none;
}

.img_prod:hover .hoverImg{
    display: block;
}





/*Stili Footer*/
footer{
    background-color: black;
    color: white;
    margin-bottom: 1px;
    padding: 10px 20px;
}

.rowFooter{
    display: flex;
    justify-content: space-between;
}

.colFooter{
    margin: 30px 300px;
    line-height: 30px; 
}